<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391299946628-amujtdpaa1gsrcnb72bvopqje5q6ac2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391299946628-amujtdpaa1gsrcnb72bvopqje5q6ac2l</string>
	<key>API_KEY</key>
	<string>AIzaSyAViIvCmifN865dZN2k4JUJTKjBb6ahcBU</string>
	<key>GCM_SENDER_ID</key>
	<string>391299946628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielndungo.freeRollover</string>
	<key>PROJECT_ID</key>
	<string>betapp-baf8c</string>
	<key>STORAGE_BUCKET</key>
	<string>betapp-baf8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391299946628:ios:5f459fc21eb22e13c3cad1</string>
	<key>DATABASE_URL</key>
	<string>https://betapp-baf8c-default-rtdb.firebaseio.com</string>
</dict>
</plist>